{{template "base" .}}

{{define "title"}}
Major`s Suite
{{end}}

{{define "content"}}
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="/static/img/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block" alt="room image">
        </div>
        <div class="col text-center mb-4">
            <h1 class="text-center mt-4">Major`s Suite</h1>
            <p class="text-center">Апартаменти - просторий номер з підвищеним рівнем комфорту. У просторій кімнаті
                розташовується велике двоспальне ліжко, шафа-купе, спальний столик. Кухня оснащена всіма потрібними для
                проживання речами. Великі панорамні вікна роблять приміщення світлим. Ванна кімната обладнана усім
                необхідним приладдям. Окремий вхід, звукоізоляція, що ще потрібно для комфортного відпочинку?

                Кожен з номерів обставлений новими меблями: (передпокої, шафа, вішалка, велике дзеркало, журнальний
                столик).
                Прибирання - щодня.

                Сніданок обговорюэться заздалегідь і оплачується окремо. Також наші гості можуть поснідати, пообідати чи
                повечеряти в «Home Cafe», і отримати як комплімент безкоштовну каву! </p>
        </div>


    </div>
    <div class="row pb-5">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" id="swal_button">
                Search Availability
            </button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    let attention = Prompt();

    document.getElementById("swal_button").addEventListener("click", function () {
        html = `
        <form id="check_availability_form" action="" method="post" novalidate class="needs-validation">
            <div class="row form-row">
                        <div class="col">
                            <label for="start_date" class="form-label">Starting date</label>
                            <input required type="date" class="form-control" id="start_date" name="start_date"
                               aria-describedby="startDate">
                            <div id="startDate" class="form-text">Enter your starting date.</div>
                        </div>
                        <div class="col">
                            <label for="end_date" class="form-label">Ending date</label>
                            <input required type="date" class="form-control" id="end_date" name="end_date"
                               aria-describedby="endDate">
                            <div id="endDate" class="form-text">Enter your ending date.</div>
                        </div>
            </div>
        </form>
        `
        attention.custom({
            title: "Enter your dates",
            text: html,
            callback: function(formValues) {
                console.log("called")

                let form = document.getElementById("check_availability_form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                console.log(form.values)

                fetch("/availability-json", {
                    method: "post",
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
            }
        })
    })


    function Prompt() {
        let toast = function (c) {
            const {
                title = "",
                icon = "success",
                position = "top-end"
            } = c;
            const Toast = Swal.mixin({
                toast: true,
                position: position,
                icon: icon,
                title: title,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({})
        }

        let success = function (c) {
            const {
                title = "",
                text = "",
                footer = ""
            } = c;
            Swal.fire({
                icon: 'success',
                title: title,
                text: text,
                footer: footer
            })
        }

        let error = function (c) {
            const {
                title = "",
                text = "",
                footer = ""
            } = c;
            Swal.fire({
                icon: 'error',
                title: title,
                text: text,
                footer: footer
            })
        }

        async function custom(c) {
            const {
                title = "",
                text = ""
            } = c;

            const { value: formValues } = await Swal.fire({
                title: title,
                html: text,
                backdrop: false,
                showCancelButton: true,
                focusConfirm: false,
                preConfirm: () => {
                    return [
                        document.getElementById('start_date').value,
                        document.getElementById('end_date').value
                    ]
                }
            })

            if (formValues) {
                if (formValues.dismiss !== Swal.DismissReason.cancel) {
                    if (formValues.value !== "") {
                        if (c.callback !== undefined) {
                            c.callback(formValues);
                        }
                    } else {
                        c.callback(false);
                    }
                } else {
                    c.callback(false);
                }
            }
        }

        return {
            toast: toast,
            success: success,
            error: error,
            custom: custom,
        }

    }

</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{end}}