{{template "base" .}}

{{define "title"}}
Major`s Suite
{{end}}


{{define "content"}}
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="/static/img/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block" alt="room image">
        </div>
        <div class="col text-center mb-4">
            <h1 class="text-center mt-4">Major`s Suite</h1>
            <p class="text-center">Апартаменти - просторий номер з підвищеним рівнем комфорту. У просторій кімнаті
                розташовується велике двоспальне ліжко, шафа-купе, спальний столик. Кухня оснащена всіма потрібними для
                проживання речами. Великі панорамні вікна роблять приміщення світлим. Ванна кімната обладнана усім
                необхідним приладдям. Окремий вхід, звукоізоляція, що ще потрібно для комфортного відпочинку?

                Кожен з номерів обставлений новими меблями: (передпокої, шафа, вішалка, велике дзеркало, журнальний
                столик).
                Прибирання - щодня.

                Сніданок обговорюэться заздалегідь і оплачується окремо. Також наші гості можуть поснідати, пообідати чи
                повечеряти в «Home Cafe», і отримати як комплімент безкоштовну каву! </p>
        </div>


    </div>
    <div class="row pb-5">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" id="swal_button">
                Search Availability
            </button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    let attention = Prompt();

    document.getElementById("swal_button").addEventListener("click", function () {
        // notifyModal('Title', '<em>Some Text</em>', 'error', 'OK')
        attention.toast();
    })

    function notifyModal(title, text, icon, confirmButtonText) {
        Swal.fire({
            title: title,
            html: text,
            icon: icon,
            confirmButtonText: confirmButtonText
        })
    }

    function Prompt() {
        let toast = function (){
            console.log("Clicked button and got toast")
        }

        let success = function (){
            console.log("Clicked button and got success")
        }

        return {
            toast: toast,
            success: success,
        }

    }

</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{end}}